/* logo visibility */

.logo img {visibility: visible; }
.cart-logo { display: none; max-width: 282px; margin: 0 auto;}


.checkout-grid {
    width: 100%;
    max-width: 506px;
    margin: 0 auto;
    display: grid;
    gap: 16px;
}

.shop, .order-summary, .checkout-form {
    width: 100%;
    max-width: 506px;
    padding: 10px;
}

.shop > h1 {
    font-size: 1.5rem;
    margin: 0 0 10px;
}

.content {

    background-color: #EFEFEF; border-radius: 15px;
    padding: 20px;
}

.shop .box .content {
    display: grid;
    grid-template-columns: 100px 1fr auto;
    grid-template-rows: auto auto auto;
    row-gap: 8px;
    min-height: 140px;
    
}
.shop .box + .box {margin-top: 12px;}

.shop .box img {
    grid-row: 1 / span 4;
    width: 100px; height: 100px;
    border-radius: 8px;
    object-fit: cover;
}

.shop .box h3 {
    font-size: 0.75rem;
    color: #362E27CC; opacity: 98%;
    grid-column: 2;
    margin: 0 0 6px;
    
    font-weight: 600;
}

.shop .box .price {
    grid-column: 2;
    display: flex;
    gap: 8px;
    align-items: baseline;
    font-size: 0.85rem;
}

.shop .box .price, .shop .box h3, .btn2 { padding-left: 20px;}

.shop .box .price .now { font-weight: 600; background-color: #F8C362;color: #362E27; border-radius: 8px; padding: 0 3px 0 3px;}
.shop .box .price .was { text-decoration: line-through 2px; font-size: .75rem; font-weight: 500; opacity: 80%;}

/* normal price */
.shop .box .price:not(:has(.was)) .now {
    color: #111110; background-color: transparent;
}



.shop .box .qty {
    grid-column: 2;
    justify-self: end;
    display: inline-flex;
    align-items: center;
    gap: 2px;
    font-size: 0.95rem; font-family: Poppins;
}

.shop .box .qty button {
    background-color: transparent;
    width: 28px; height: 28px;
    border: none; border-radius: 6px;
    cursor: pointer;
    font-size: 0.87rem;
    
}

.qty-val {
    min-width: 26px; height: 26px;
    display: inline-flex; align-items: center; justify-content: center;
    font-weight: 600; font-size: 0.87rem;
    background-color: #FAFAFA;
    border-radius: 6px;
}

.shop .box .btn-area {
    grid-column: 2;
    justify-self: end;
    cursor: pointer;
    margin-top: 6px;
}

.shop .box .btn2 {
    display: inline-flex; gap: 8px; align-items: center;
    font-size: 0.65rem; font-weight: 600; color: #343434; opacity: 80%;
    
}

/* ---- Order summary ---- */

.right-bar {
    width: 100%;
    max-width: 506px;
    margin: 0 auto;
}

.order-summary {
    display: grid;
    width: 100%;
    max-width: 506px;
    display: grid; background-color: #EFEFEF; border-radius: 15px;
    margin: 0 auto;
    
}

.checkout-grid h2 { margin: 0 0 10px; padding-left: 10px;}
.order-summary p { display: flex; justify-content: space-between; margin: 8px 0; }

.order-summary p {
    padding-left: 4px;
}

.cart-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    padding-right: 30px;
    max-width: 320 px;
}

.cart-actions .btn {
    color: #362E27;
    border: none;
    background-color: transparent;
    font-family: poppins;
    font-weight: 500;
    cursor: pointer;
}


.field .label {
    display: block;
    margin-bottom: 6px;
}

.field input {
    font-family: Roboto;
    font-size: .87rem;
    width: 100%;
    height: 50px; padding: 0 10px;
}



.order-summary .total {
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA; border-radius: 8px;
    font-weight: 700;
    padding: 10px;
}

/* Delivery / Payment */

.checkout-form {
    background-color: #EFEFEF;
    display: grid;
    gap: 25px;
    max-width: 506px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 15px;
}

.field input {
    border: 2px solid #FAFAFA;
    background-color:#FAFAFA ;
    border-radius: 5px;
}

.error-msg {
    min-height: 1.1rem;
    font-size: 0.87rem;
    font-weight: 500;
    color: #DA5D47;
    display: none;
}

.field input.is-invalid { 
    border-color: #DA5D47;
}

.grid-2 {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.pay-methods { 
    display: flex;
    justify-content: center;
    gap: 12px;
    border: none;
}

.btn-primary {
    display: flex; align-items: center; justify-content: center;
    margin: 60px auto; padding: 10px 30px 10px 30px;
    
    width: 196px; height: 45px; border-radius: 15px; font-size: 1.5rem;
    background: #883729; color: #fff; border: 0; font-weight: 700;
} 

.btn-primary:hover {
    filter: brightness(1.1); cursor: pointer;
}

/* Continue to checkout btn */

.checkout-btn {
    display: flex; align-items: center; justify-content: center;
    margin: 80px auto; 
    padding: 25px;

    width: 100%;
    max-width: 253px;
    height: 69px;
    border-radius: 15px;

    background-color: #224665;
    color: #FFFFFF;
    
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; 
    

}

.form-msg {
    margin: 16px auto;
    font-size: 0.95em;
    font-weight: 700;
    text-align: center;
    display: inline-block;

}
.form-msg.info { color: #3A7CA5;}
.form-msg.success { color: #4ABA82;}
.form-msg.error { color: #DA5D47;}

.field input:-webkit-autofill, .field input:-webkit-autofill:hover, .field input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #FAFAFA inset !important;
}

@media (min-width: 768px) {

    .cart-logo {
        display: block;
        margin-top: 60px;
    }

    .shop h1 {
        margin-top: 30px;
    }

    .checkout-btn {

        margin-top: 100px;
        margin-bottom: 200px;
    }

    }

@media (min-width: 1024px) {

    .shop { 
        max-width: 506px;
    }
}