/* logo visibility */

.logo img {visibility: visible; }
.num { font-variant-numeric: tabular-nums;}
.visually-hidden {
    position: absolute !important;
    width: 1px; height: 1px;
    padding: 0; margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}


/* ---- Card ---- */

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 5px;
    margin-bottom: 50px;
}

.thumb {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.thumb img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

/* ---- Badge Sale % ---- */

.badge-sale {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 2px 10px;
    border-radius: 18px;
    background: #3A7CA5;
    color: #FAFAFA;
    font-weight: 600;
    z-index: 1;
}

.media h3, .media .price, .media .btn {
    margin: 6px 0 0 0;
    text-align: left;
}



.stars { min-height: 1.2rem; display: flex; align-items: center; }

/* add to cart btn */
.btn { border: none; background-color: transparent; font-size: 1.2rem; border-radius: 12px; }


.btn i:hover {  color: #883729; cursor: pointer; filter: brightness(.98); } 
.btn i:active { color: #883729; transform: translateY(1px) scale(.95); }



/* ---- SLIDESHOW ---- */

.slideshow, .slides {
    max-width: 294px;
    margin: 0 auto;
    position: relative;
}

.slideshow  { overflow: hidden; }
.slideshow .mySlide {display: none;}
.slideshow .btn { display: none;}

/* Mobile Carousel */
.slideshow img {
    width: 294px;
    height: 350px;
    object-fit: cover;
}

/*  Controls  */
.slideshow .controls {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 8px;
}
.slideshow .controls button {
    width: 55px; height: 42px;
    border: 0 ;
    cursor: pointer;
    border-radius: 100px;
    font-size: 1.125rem;
    background: #D8EAF0;
}

/* ------ Latest products grid ------ */

.latest-products .grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    padding: 12px 16px;
    margin-bottom: 100px;
    text-align: center;
}

/* ---- Images ---- */

.latest-products .media img {
    width: 100%;
    max-width: 168px;
    aspect-ratio: 168 / 235;
    height: auto;
    object-fit: cover;
}

.latest-products .media btn { align-self: flex-start; margin-top: 6px; }

.latest-products .media h3,
.latest-products .media .price, 
.latest-products .media > .stars, 
.latest-products .media > .btn {
    width: 100%;
    max-width: 250px;
    text-align: left;
    padding-left: 15px;
}

/* Title clamp */

.latest-products .media h3 {
    line-height: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: calc(1rem * 2);
}

.latest-products h3 {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px; 
    letter-spacing: 0.48px;
}

.latest-products p {
    font-family: Poppins;
    font-size: 0.85rem;
    font-weight: 700;
    line-height: 20px; 
    letter-spacing: 0.42px;
}

/* ---- PRICES ---- */ 

.price {
    display: flex;
    align-items: baseline;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 4px;
    padding-top: 4px;
    font-family: Poppins;
    line-height: 20px;
    letter-spacing: 0.42px;
    
}

.price .now {font-weight: 700; font-size: 0.8rem; color: #111110; }
.price .was { font-size: .8rem; color: #343434;  text-decoration: line-through; text-decoration-thickness: 2px; }
.price .save { display: none; }


/* info section */

.info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.info h2 {
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 15px;
    background: #D9D9D9;
    margin-top: 52px;
    letter-spacing: 0.72px;
}
.info p {
    font-family: Roboto;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 25px; 
    letter-spacing: 0.54px;
    margin: 25px 0 30px;
    padding-left: 45px;
}

.info h3 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.64px;
    padding-left: 45px;
    margin-bottom: 50px;
}

/* ========= Responsive rules ========= */


/* Bigger Mobile  */

@media (min-width: 500px) {
    
    .latest-products .media img { max-width: 260px; }
    .latest-products h3 { font-size: 1.05rem; }
}

/* Tablet */

@media (min-width: 769px) {

    .latest-products, .info {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        max-width: 900px;
        margin: 0 auto;
    }


    .latest-products h3 { font-size: 1.2rem; }
    .latest-products .media img { width: 240px; }

    .slideshow, .slideshow .slides {
        width: 550px;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
    }

    .slideshow .thumb { width: 100%; height: 549px; }
    .slideshow .thumb img { width: 100%; height: 100%; object-fit: cover; }

    .slideshow { margin-top: 100px; }
    
    .slideshow .badge-sale {
        padding: 4px 14px;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .card h3 { font-size: 1.4rem; bottom: 15px; }
    .card .now, .card .stars, .card .was { font-size: 1.1rem; } 
    .stars { font-size: 1.2rem; }
}

/* Small Desktop */ 

@media (min-width: 1024px) {
    
    .slideshow, .slideshow .slides {
        width: 730px;
        max-width: 549px;
        margin-left: auto;
        margin-right: auto;
    }

    .slideshow .controls button {
        width: 65px; height: 48px;
        font-size: 1.5rem;
    }

    .slideshow .thumb { width: 100%; height: 549px; }
    .slideshow .thumb img { width: 100%; height: 100%; object-fit: cover;}
    .slideshow .badge-sale { padding: 8px 22px; font-size: 1.5rem; font-weight: 500; }

    .media {
        margin-bottom: 25px;
        gap: 2px;
    }

   .info h2 {
        margin-top: 40px;
    }
    
    .latest-products .grid{
    
    grid-template-columns: repeat(3, minmax(0, 1fr));
    
}
}

@media (min-width: 1600px) {

    .slideshow, .slideshow .slides {
        width: 730px;
        max-width: 549px;
        margin-left: auto; margin-right: auto;
        
    }

    .slideshow .thumb { width: 100%; height: 549px; }
    .slideshow .thumb img { width: 100%; height: 100%; object-fit: cover; }
    .slideshow .badge-sale { padding: 12px 20px; font-size: 1.8rem; font-weight: 500; }

    .card h3 { font-size: 1.4rem; margin-bottom: 15px; }
    .card .now, .card .stars, .card .was { font-size: 1rem; } 

    .latest-products { gap: 80px; }
    .latest-products, .info{ max-width: 1000px; margin: 0 auto; }

    .latest-products .media img { max-width: 270px; }

    .btn { font-size: 1.4rem; }
    
    
    .latest-products .media img {
        width: auto;
        max-width: 264px;
        height: 308px;
    }

    .latest-products .media > .price, 
    .latest-products .media > .stars, 
    .latest-products .media > .btn { font-size: 1.25rem; line-height: 35px; }

    /* title clamp */

    .latest-products .media h3 {

        font-size: 1.15rem;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: calc(1.4rem * 1);
    }


    .slideshow .mySlide, .slideshow .card {
        width: 100%;
        height: auto;
    }

    .info h2 {
        font-size: 1.5em;
        padding: 5px 0 5px 0;
    }
    
}


@media (min-width: 2560px) {

    .slideshow, .slideshow .slides {
        width: 750px; max-width: 800px;
        margin-left: auto; margin-right: auto;
    }

    .slideshow .controls button {
    width: 80px; height: 58px;
    font-size: 2rem;
    }

    .slideshow .thumb { width: 100%; aspect-ratio: 985 / 900; }
    .slideshow .thumb img { width: 100%; height: 100%; object-fit: cover; }
    .slideshow .badge-sale { padding: 10px 22px; font-size: 2rem; font-weight: 500; }

    .btn { font-size: 2.2rem; }

    .card h3 { font-size: 2rem; margin-bottom: 18px; }
    .card .now, .card .stars, .card .was { font-size: 1.5rem; } 


    .latest-products .media img { width: 320px; height: 380px; }
    .latest-products, .info { max-width: 1600px; margin: 0 auto; }
    

}

