.logo {display: block; }
.mobile-logo { display: none;}

.navbar { padding: 0 50px; }
header { margin-bottom: 30px; }

/* Container */

#product-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

/* Inside the container */

.product .column, .product .reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 0 16px;
}

.product .reviews { gap: 10px; }

/* Picture */

.product .media {
    position: relative;
    width: 390px;
    height: 390px;
    max-width: 100%;
    margin: 0 auto;
}

.product .media img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* Sales Badge */

.product .media .badge-sale {
    position: absolute;
    top: 10px; right: 10px;
    padding: 6px 12px;
    border-radius: 14px 14px 6px 6px;
    background: #3A7CA5;
    color: #FAFAFA;
    font-weight: 500;
}

/* Product Title */

.product h1, .product p, .product .price, .product .tags, .product .rating, .product h3, .product .author {
    max-width: 730px;
    width: 100%;
    margin: 0 auto;
}

.product h1 {
    display: flex;
    margin: 8px 0 0 ;
    align-items: center;
    height: auto;
    font-size: 1.5rem;
    font-family: Poppins, Roboto;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.96px;
    text-transform: none;
}

/* Product Description */

/* Reviews */

.product .rating { display: flex; align-items: center; }
.product .review-count { font-size: 0.9rem;}

/* Price */

.product .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin: 14px 0 14px ;
    font-family: Roboto;
    letter-spacing: 0.6px;
    line-height: 20px;
}

.product .price .now {
    font-size: 1.25rem;
    font-weight: 700;
}
.product .price .was {
    font-size: .9rem;
    font-weight: 500;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: #A09C97;
}
.product .price .save {
    font-size: 0.857rem;
    font-weight: 600;
}

/* ---- Product Text ---- */

.product .column-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.product .column-1 p {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.48px;
    margin: 8px 0 10px ;
}


/* ----- Buttons ----- */

/* tags */

.product .tags {
    display: flex; flex-wrap: wrap; gap: 8px;
    margin: 14px 0 0;
    margin-bottom: 20px;
}

.product .tags li {
    padding: 4px 12px;
    background-color: #EFEFEF;
    color: #111110;
    border-radius: 999px;
    font-size: 0.85rem;
    font-weight: 400;
}


/* Share */

.product .btn.js-share {
    display: inline-flex;
    height: 34px;
    align-items: center;
    margin-bottom: 50px;
    border-radius: 12.5px;
    border: 2px;
    font-family: Poppins;
    font-size: .87rem;
    font-weight: 600;
    cursor: pointer;
}

/* Buy */

.product .btn.js-add-to-cart {
    display: inline-flex;
    align-items: center; justify-content: center;
    width: 256px; height: 45px;
    margin: 0 auto 10px;
    padding: 0 16px;
    border: none;
    border-radius: 15px;
    background: #883729;
    color: #FAFAFA;
    letter-spacing: 2px;
    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 700;
}


.product .btn.js-add-to-cart:hover { filter: brightness(1.1); cursor: pointer;}

/* Login to buy */

.product .btn.btn-outline {
    background-color: #F8C362;
    color: #362E27;
}

.product .btn.btn-outline[href="login.html"] {
    display: flex;
    width: 256px; height: 45px;
    margin: 0 auto 45px;
    align-items: center; justify-content: center;
    border-radius: 15px;
    background-color: #D8EAF0;
    color: #362E27;
    font-weight: 700;
}

.product .btn.btn-outline:hover{ background: #E6F1F7; }


/* Reviews */

.product .reviews {
    margin-top: 160px;
    margin-bottom: 80px;
    padding-top: 8px;
    border-top: 1px solid #EFEFEF;
    gap: 5px;
}

.product .reviews h3 {
    margin: 4px 0 0;
    font-family: Poppins, Roboto;
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 3px;
}

.product .reviews > .rating { margin: 6px 0 2px; }
.product .reviews .review-count {
    color: #362E27;
    font-weight: 600;
    font-size: .95rem;
    margin: 0 0 14px;
    padding: 0 0 10px;
    border-bottom: 1px solid #EFEFEF;
}

/* List */

.product .reviews .review {
    bottom: 1px solid ;
    border-radius: 12px;
    padding: 12px 2px 14px;
}

.product .reviews .review-head { font-weight: 600; }
.product .reviews .author {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: .3px;
    color: #362E27;
}

.product .reviews .review-body {
    font-family: Roboto;
    font-size: .95rem;
    line-height: 2;
}

.product .rating .rating-num { margin-left: 6px; }

/* Success Messages */

.js-inline-message {
    display: inline-flex;
    min-width: 150px;
    margin-top: 5px;
    padding: 8px 8px;
    text-align: center;
    margin: 0 auto;
    font-family: Poppins;
    font-size: 0.85rem;
    font-weight: 600;
    border-radius: 12px;
    transition: opacity 0.3 ease;
}

.js-inline-message.success { background-color: #4ABA82; color: #FAFAFA; }
.js-inline-message.error   { background-color: #DA5D47; color: #FAFAFA; }
.js-inline-message.info    { background-color: #3A7CA5; color: #FAFAFA; }

/* ---- MEDIA QUIERIES ---- */

/* Tablet */

@media (min-width: 768px) {
    .product h1 { line-height: 25px; }
    .product .media { width: 500px; height: 400px; }
    .product .media img { width: 500px; height: 400px; }
}

@media (max-width: 768px) {
    .logo {display: none;}
    .mobile-logo { 
        display: block;
        position: absolute; left: 0; top: 30%;
    }
    .mobile-logo img { width: 120px; height: auto; }
}

/* Desktop */

@media (min-width: 1200px) {
     #product-container { max-width: 730px; }
    .product .media { width: 730px; height: 502px; }
    .product .media img { width: 730px; height: 502px; }
    .product h1 { font-size: 2rem; margin-top: 24px; }
    .product .reviews { margin-top: 250px; }
    .product .btn.js-add-to-cart {
        font-size: 1.4rem;
        width: 300px; height: 70px;
        border-radius: 20px;
    }

    .js-inline-message { font-size: 1rem; }
}

@media (min-width: 1600px) {
   .product .reviews { margin-top: 180px; }
}
