.logo img {visibility: visible; }

/* Wrapper */

.success { max-width: 720px; margin: 0 auto 96px; }

/* Card */

.success-card {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 16px;
    align-items: center; justify-content: center;
    text-align: center;
}

.success-card .icon {
    display: grid;
    width: 56px; height: 56px;
    margin: 0 auto 12px;
    border-radius: 50%;
    place-items: center;
    font-weight: 800;
    font-size: 3rem;
    color: #000010CC;
}

.success-card h1 {
    margin: 8px 0 6px;
    font-size: 1.2rem;
    font-weight: 800;
}

.success-card h2 {
    display: flex;
    justify-content: center; align-items: center;
    max-width: 303px; height: 108px;
    margin: 51px auto;
    border-radius: 25px;
    background: #883729;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 700;
}

.success-card .greeting {
    margin: -30px 0 40px 0 ;
    font-weight: 600;
}

/* Summary */

.success-card .order {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 22px;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #EFEFEF;
    border-radius: 15px;
}

.success-card .order p, .success-card .order .js-email {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    column-gap: 12px;
    margin: 0;
    font-size: 0.75rem;
}



.success-card .order p span:last-child { font-weight: 600; }
.js-email { font-weight: 600; }

.success-card .order > div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: #fff;
    border-radius: 8px;
    padding: 10px 12px;
}

.success-card .actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.btn-outline {
    width: 195px;
    margin: 20px 0 100px;
    background-color: #EFEFEF;
    color: #362E27;
}

.btn-outline:hover { opacity: .9; }

/* ---- Media Queries ---- */

@media (min-width: 769px) {
    .success-card .icon { margin-top: 55px; }
    .success-card h1 { margin-top: 0; }

    .success-card h2 {
        max-width: 451px;
        margin-bottom: 31px;
        padding: 18px 45px;
        line-height: 28px;
        letter-spacing: 0.72px;
    }

    .success-card .greeting { margin: 20px 0; }
    .success-card .order {
        max-width: 350px;
        height: 160px;
        margin-bottom: 50px;
    }
}