* { margin: 0; padding: 0; box-sizing: border-box; }

html {
    font-family: Poppins, Roboto;
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #362E27;
    background-color: #FAFAFA;
}

/* lists and links */

ul { list-style: none; }
a { text-decoration: none; color: inherit; }

/* utils */

.container {width: 100%; max-width: 730px; margin: 0;}

/* Buttons */

.btn { 
  display: inline-flex; 
  cursor: pointer;
  border: 0; 
  font-family: Poppins, Roboto;
}

.btn-primary {
  align-items: center; justify-content: center;
  width: 196px; height: 45px; border-radius: 15px;
  font-weight: 700; font-size: 1.25rem; letter-spacing: .6px;
}

.btn-outline {
  display: inline-flex;
  align-items: center; justify-content: center;
  min-width: 125px; height: 47px; border-radius: 15px;
  font-weight: 700; font-size: .95rem; letter-spacing: .6px;
}

/* Forms */

.form-msg {
  display: inline-flex;
  margin: 16px auto; border-radius: 12px;
  font-size: .95rem; font-weight: 700; text-align: center;
  border: 0;
}

.form-msg.info {color: #3A7CA5;}
.form-msg.success { color: #4ABA82;}
.form-msg.error { color: #DA5D47;}

.stars { 
  min-height: 1.2rem; 
  display: flex; 
  align-items: center; 
  color: #F4B400; 
  font-size: 1rem; 
  font-weight: 400;
}

.rating-num { font-size: 0.95rem; color: #362E27; font-weight: 500;}

/* Logo */ 

.logo img { visibility: visible;}


 /* ---- Spinner ---- */
 
#page-loader {
  position: fixed;
  inset: 0;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  }
  
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top-color: #343434;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  body.loading { overflow: hidden; }

