* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

html {
    font-family: poppins, roboto;
    font-size: 1.25rem;
    text-decoration: none;
    color: #362E27;
    background-color: #FAFAFA;
}
